<!DOCTY)PE html>
<html>
  <head>
    <title>WhatsCookin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to 'Login with Twitter!', '/auth/twitter' %></li>
      <li><%= link_to('Login with Facebook!', '/auth/facebook') %></li>
    </ul>
    <%= yield %>
  </body>
</html>
